.idea/
venv/
example_dataset/Segmented image sets to build model.csv
Example Dataset/Segmented image sets to build model.csv
Example Dataset/Segmented image sets to build model.csv
example_dataset/images_to_build_model.csv
